*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffb347;
    text-align: center;
}

h1{
    margin-top: 10px;
    font-size: 40px;
}

.game-layout{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 20px;
    padding: 20px;
}

.game-area{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-area p{
    font-size: 25px;
}

.reset-btn{
    margin-top: 30px;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: rgba(175, 109, 56, 0.705);
}

.stats-panel{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.shop-panel{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
}

#biryani-count{
    font-size: 23px;
    font-weight: bold;
}

#biryani-btn{
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 20px;
}

#biryani-btn:hover{
    filter: brightness(0.9);
}

#biryani-btn img{
    width: 200px;
}

#biryani-btn:active img{
    transform: scale(0.8);
}

.shop-item{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 243, 224);
    margin: 12px 0;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.shop-img-name{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 8px;
}

.shop-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.shop-item h3{
    font-size: 20px;
}

.shop-item p{
    font-size: 18px;
    margin-bottom: 8px;
}

.shop-item button{
    background-color: rgba(175, 109, 56, 0.705);
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: fit-content;
    align-self: center;
}

.shop-item button:hover{
    transform: scale(1.05);
}

.stats-item{
    display: flex;
    align-items: center;
    background-color: rgb(250, 227, 190);
    padding: 8px 10px;
    border-radius: 10px;
    margin: 15px 0;
}

.stats-item img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.stats-item h3{
    flex: 1;
    text-align: left;
}

.stats-item p{
    font-weight: bold;
}